@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.grid{
  margin: 0 auto;
  padding: 5px;
  color: white;
  margin-bottom: 40px;
   width: 100% !important;
  
}

.grid-header{
  background-color: #E74C18;

}

.grid-header tr{
  padding: 20px;
}

.grid-header tr td{
  padding: 5px;
}

.grid-body{
  color: black;
  height: 100%;
  background-color: #F5B7A3;
}

.grid-body tr:nth-child(odd){
  background-color: #FF875F;
}
.grid-body tr td{
  padding: 5px;
}

.grid-body tr td:last-child{
  display: flex;
  justify-content: space-around;
}

.alter-img {
    display: none;
}