.home-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap:16px;
  flex-wrap: wrap;
  margin-top: 20px !important;
  justify-content: space-between;
 width: 100%;
 padding: 20px;
  align-items: center
}

.home-livro{
 display: flex;
 max-width: 350px;
align-items: center;
justify-content: center;
flex-direction: column;
box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.236);
border-radius: 10px ;
background-color: #da3b06;
position: relative;
margin-bottom: 20px;
border: solid 1px rgba(133, 133, 133, 0.147);
transition: .5s;
position: relative;
height: 100%;
cursor: pointer;
}

.home-livro:hover{
  transform: scale(1.02);
  transition: .5s;
}
.livro-img{
    padding: 10px
}

.home-livro img{
  border-radius: 10px;
  height: 400px;
  object-fit: cover;
  
}

.livro-descricao{
  background-color: #e75a2b;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.livro-descricao h3{
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
 
}
.livro-descricao span{
  font-size: 1rem;
  color: rgb(33, 33, 33)
  
}
.livro-comprar{
 border-radius: 0px !important;
 background-color: green;
 font-weight: bold !important;
 color: white;
 font-size: 1.2rem !important;
}

.livro-comprar:hover{
  background-color: #338e05;
  transition: .5s;
}
.promocao{
  background-color: #EC7046 ;
  display: flex;
  justify-content: space-around;  
  gap: 20px;
  max-width: 1000px;
  margin: 60px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.271);
}
.promocao-diaria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E74C18;
  padding: 20px;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  border-radius: 10px 0 0 10px;
}

.promocao-diaria img{
  width: 200px;
}

.promocao-livro .livro-comprar{
 position: initial;
}

.promocao-livro{
  display: flex;
  flex-direction: column;
  flex: 2;
  align-items: center;
}


.promocao-livro h4{
  font-size: 2rem;
  color: white;
}

.promocao-desconto{
  font-size: 3rem;
  font-weight: 600;
  text-decoration:line-through;
  color: rgb(35, 35, 35);
}

.promocao-preco{
  font-size: 6rem;
  font-weight: bold;
  color: #1f5d00;
}

.preco{
    background: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    background: #198754;
    color:white;
    font-size: 1.5rem;
    position: absolute;
    top:20px;
}